<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.callbacktest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.PanelActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".Activity.ActivityB2" />
        <activity android:name=".Activity.WordToWordActivity" />
        <activity android:name=".Activity.CalendarActivity" />
        <activity android:name=".Activity.TestEditTextActivity" />
        <activity android:name=".Activity.ActivityA">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.ActivityB" />
        <activity android:name=".Activity.ActivityC" />
        <activity android:name=".Activity.ActivityD" />
        <activity android:name=".Activity.TestNotificationActivity" />
        <activity android:name=".Activity.ActivityE" />
        <activity android:name=".Activity.CityPickerActivity" />
    </application>

</manifest>